.Section1 {
	height: 100vh;
	//	background-image: linear-gradient(to right, #ff9000, #ffbb00);
}

.Section2 {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	//	height: 50vh;
	//	background-image: linear-gradient(to right, #ff9000, #ffbb00);
}
.Section3 {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	// height: 50vh;
	//	background-image: linear-gradient(to right, #ff9000, #ffbb00);
}
.Section4 {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	align-items: center;
	justify-content: center;
	//	display: flex;
	// height: 20vh;
	//	background-image: linear-gradient(to right, #ff9000, #ffbb00);
}
.Section5 {
	padding-top: 2em;
	height: 120vh;
	//	background-image: linear-gradient(to right, #ff9000, #ffbb00);
}
.Section6 {
	padding-top: 2em;
	height: 20vh;
	//	background-image: linear-gradient(to right, #ff9000, #ffbb00);
}
.Section7 {
	padding-top: 2em;
	height: 60vh;
	//	background-image: linear-gradient(to right, #ff9000, #ffbb00);
}
.Section8 {
	padding-top: 2em;
	height: 30vh;
	//	background-image: linear-gradient(to right, #ff9000, #ffbb00);
}
.Section9 {
	padding-top: 2em;
	height: 60vh;
	//	background-image: linear-gradient(to right, #ff9000, #ffbb00);
}
