/***theme***/
.Bg-Section1 {
	background-color: #eaebed;
}
.Bg-Section2 {
	background-color: #ffffff;
}
.Bg-Section3 {
	background-color: #f5f9fc;
}
.Bg-Section4 {
	background-color: #e2ebf4;
}
.Bg-Section5 {
	background-color: #ffffff;
}
.Bg-Section6 {
	background-color: #0661be;
}
.Bg-Section7 {
	background-color: #f5f9fc;
}
.Bg-Section8 {
	background-color: #ffffff;
}
.Bg-Section9 {
	background-color: #e2ebf4;
}

.Menu-LogoTexto {
	font-family: "Bebas Neue", cursive;

	//word-spacing: 1cm;

	font-size: 30px;

	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 3em;
	margin-right: 0.5em;
}

.Main1-Button {
	border: 1 solid darkblue;
	color: darkblue;
	font-size: 10px;
}

.Section4-J {
	// align-items: flex-end;
	// justify-content: center;
	text-align: right;
	padding-right: 2em;
}

.Section4-I {
	padding-top: 2em;
	padding-left: 2em;
}

.Section5-btn {
	border: none;
}

.Section5-H2 {
	color: darkblue;
	font-size: 10px;
}
.Section5-H3 {
	color: black;
	margin: 0 auto;
	font-size: 10px;
}
.Section5-H4 {
	color: black;
	font-size: 30px;
}
.Section5-Hr {
	border: 1px solid darkblue;
	width: 5em;
}
.Section5-P {
	text-align: center;
	color: darkblue;
	text-decoration: underline;
}
.Section6-Row {
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
}
.Section6-Col {
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
	text-align: right;
}
.Section6-H2 {
	margin: 0 auto;
	text-align: left;
}
.Section7-C {
	text-align: center;
}
.Section7-H2 {
	color: darkblue;
	font-size: 10px;
}
.Section7-H3 {
	color: black;
	font-size: 30px;
}
.Section7-B {
	background-color: white;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
}
.Section7-R {
	justify-content: center;
	align-items: center;
	text-align: center;
}
.Section7-Img {
	width: 20px;
	height: 20px;
	background-color: black;
	margin-top: 1em;
}
.Section7-H4 {
	font-size: 15px;
	margin: 0 auto;
}
.Section7-H5 {
	font-size: 10px;
	margin: 0 auto;
}
.Section8-C {
	border: 1px solid black;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.Section8-Img {
	width: 20px;
	height: 20px;
	background-color: black;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
}
