/***theme***/
.Bg-Section1 {
	background-color: #eaebed;
}
.Bg-Section2 {
	background-color: #ffffff;
}
.Bg-Section3 {
	background-color: #f5f9fc;
}
.Bg-Section4 {
	background-color: #e2ebf4;
}
.Bg-Section5 {
	background-color: #ffffff;
}
.Bg-Section6 {
	background-color: #0661be;
}
.Bg-Section7 {
	background-color: #f5f9fc;
}
.Bg-Section8 {
	background-color: #ffffff;
}
.Bg-Section9 {
	background-color: #e2ebf4;
}

.Menu-LogoTexto {
	font-family: "Bebas Neue", cursive;

	//word-spacing: 1cm;

	font-size: 30px;

	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 3em;
	margin-right: 0.5em;
}

.Main1-Button {
	border: 1 solid darkblue;
	color: darkblue;
	font-size: 10px;
}
.Section4-J {
	align-items: center;
	justify-content: center;
}
.Section4-I {
	padding-top: 2em;
	padding-left: 2em;
}
.jus {
	//	align-items: center;
	//	justify-content: center;
}
