/***module***/
@import "menu";

.Main1 {
	width: 100%;
	height: 90vh;
	padding-top: 6em;

	background-image: url("../images/chica-escritorio-trasparente.png");
	background-size: 100%;
	background-repeat: no-repeat;
	//	margin-left: 0;
}
.Main1-SectionLeft {
	margin-left: 0em;
	margin-right: 0em;
	padding-left: 5em;
	font-size: 20px;
}
.Main1-SectionRigth {
	margin-left: 0em;
	margin-right: 0em;
	font-size: 20px;
}

.Main1-H1 {
	margin: 0 auto;
	margin-bottom: 1em;
	font-size: 20px;
}
.Main1-H2 {
	margin: 0 auto;
	margin-bottom: 1em;
	font-size: 45px;
}
.Main1-P1 {
	margin: 0 auto;
	margin-bottom: 1em;
	font-size: 20px;
}
.Main1-Button {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20px;
	background: none;
	color: darkblue;
	border: 1px solid darkblue;
}
.Main2-Button {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20px;
	background: none;
	color: white;
	border: 1px solid white;
}
.Section2-J {
	//	align-items: center;
	//padding-left: 2em;
	//	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 2em;
}
.Section2-H3 {
	color: darkblue;
	margin: 0 auto;
	font-size: 10px;
}

.Section2-H4 {
	color: black;
}
.Section2-Hr {
	border: 1px solid darkblue;
	width: 5em;
}

.Section2-H5 {
	font-weight: bold;
	font-size: 15px;
}
.Section2-btn {
	background-color: white;
	// border: 1px solid darkblue;
	border: none;
	color: darkblue;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
}

.Img-Section {
	width: 300px;
	height: 300px;
	background-color: skyblue;
}

.Section3-H2 {
	font-size: 15px;
	color: darkblue;
}
.Section3-H3 {
	font-size: 30px;
}

.Section4-R {
	//	align-items: center;
	//padding-left: 2em;
	//display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 2em;
}
.Section4-A {
	align-items: left;
	text-align: left;
}
.Section4-C {
	//	align-items: center;
	//padding-left: 2em;
	//display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 0em;
}

.Section5-J {
	//	align-items: center;
	padding-left: 20%;
	//	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 2em;
}

.Section5-C {
	text-align: center;
}
.Section9-Li {
	list-style: none;
	font-size: 10px;
}

.Section9-Img {
	background-color: black;
	width: 30px;
	height: 30px;
	margin-top: 1em;
	margin-left: 1em;
	//	padding-top: 1em;
}
.Section9-H2 {
	font-size: 10px;
	padding-left: 1em;
}
.Section9-H3 {
	font-size: 8px;
	padding-left: 1em;
}
.Section9-P {
	font-size: 8px;
	padding-left: 1em;
}
